@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
:root {
  --primary-color: #19c8fa;
  --secondary-color: green;
  --accent-color: blue;
  --transparent-color: rgb(15 116 143 / 70%);
  --grey-color: #a2a2a2;
  --dark-grey-color: #787878;
  --light-black-color: #333333;
  --main-transition-duration: 300ms;
  --main-line-height: 1.6;
  --main-section-padding: 100px;
}

/* Start Reusable Components */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  position: relative;
  font-size: 42px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 120px;
  background-color: var(--light-black-color);
  height: 2px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -38px;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border: solid var(--light-black-color) 2px;
  border-radius: 50%;
  background-color: white;
}

.main-heading p {
  width: 550px;
  max-width: 100%;
  margin: 0 auto 100px;
  line-height: var(--main-line-height);
  color: var(--dark-grey-color);
}
/* End Reusable Components */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 0;
  background-color: var(--grey-color);
  height: 1px;
  width: calc(100% - 32px);
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav .toggle-menu {
  display: none;
}

@media (max-width: 767px) {
  header nav .toggle-menu {
    display: flex;
    color: white;
    font-size: 22px;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  header nav ul li a {
    padding: 16px !important;
  }
}

header nav ul li a {
  display: block;
  padding: 40px 10px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: var(--main-transition-duration);
  position: relative;
  z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

header nav .form {
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 32px;
  border-left: solid 1px white;
}

header nav .form i {
  position: absolute;
  color: white;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../assets/images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 64%);
}

.landing .text {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 56px;
  color: white;
  background-color: var(--transparent-color);
}

.landing .text .content {
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: var(--main-line-height);
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: var(--main-line-height);
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #d3d3d3;
}

@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}

.landing i:first-of-type {
  left: 32px;
}

.landing i:last-of-type {
  right: 32px;
}

.landing .bullets {
  display: flex;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: solid 1px white;
  border-radius: 50%;
  margin-right: 6px;
}

.landing .bullets li.active,
.landing .bullets li:hover {
  background-color: var(--primary-color);
  border: none;
}

.services {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 60px 40px;
  }
}

.services .services-container .service {
  display: flex;
}

.services .services-container .service i {
  margin-right: 48px;
}

@media (max-width: 767px) {
  .services .services-container .service {
    flex-direction: column;
    text-align: center;
    margin-bottom: 42px;
  }

  .services .services-container .service i {
    margin: 0 0 32px;
  }
}

.services .services-container .service .text h3 {
  color: var(--primary-color);
  margin-bottom: 32px;
}

.services .services-container .service .text p {
  color: var(--dark-grey-color);
  line-height: var(--main-line-height);
}

.design {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
  height: 600px;
  background-image: url(../assets/images/design-features.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 64%);
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li i {
  margin-right: 15px;
}

.portfolio {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
}

.portfolio .shuffle li {
  padding: 10px;
}

.portfolio .shuffle li a {
  text-decoration: none;
  color: black;
}

.portfolio .shuffle li.active a,
.portfolio .shuffle li:hover a {
  color: white;
}

.portfolio .shuffle li.active,
.portfolio .shuffle li:hover {
  background-color: var(--primary-color);
}

.portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
}

.portfolio .images-container .box:hover .caption {
  bottom: 0;
}

.portfolio .images-container .box:hover img {
  transform: rotate(3deg) scale(1.2);
}

@media (min-width: 768px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}

.portfolio .box img {
  max-width: 100%;
  transition: var(--main-transition-duration);
}
.portfolio .box .caption {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  transition: var(--main-transition-duration);
}
.portfolio .box .caption h4 {
  margin-bottom: 12px;
}

.portfolio .box .caption p {
  color: var(--primary-color);
  font-size: 14px;
}

.portfolio .more {
  display: block;
  width: fit-content;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  padding: 16px 20px;
  margin: 30px auto;
  text-decoration: none;
}
